apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: minio-tempo-credentials
spec:
  data:
    - secretKey: accessKey
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: "kv/{{ .Values.schema.env }}/tempo/minio-credentials-incluster"
        metadataPolicy: None
        property: accessKey
    - secretKey: secretKey 
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: "kv/{{ .Values.schema.env }}/tempo/minio-credentials-incluster"
        metadataPolicy: None
        property: secretKey
  refreshInterval: 4h0m0s
  secretStoreRef:
    name: external-vault-backend
    kind: ClusterSecretStore
  target:
    name: minio-tempo-credentials
    creationPolicy: Owner
    deletionPolicy: "Retain"
    template:
      type: Opaque
      data:
        CONSOLE_ACCESS_KEY: "{{`{{ .accessKey }}`}}"
        CONSOLE_SECRET_KEY: "{{`{{ .secretKey }}`}}"
