apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: gloo-core-license
  namespace: {{ $.Release.Namespace }}
spec:
  refreshInterval: "30m0s"
  secretStoreRef:
    name: external-vault-backend
    kind: ClusterSecretStore
  target:
    name: gloo-core-license
    creationPolicy: Owner
  data:
    - secretKey: gloo-core-license-key
      remoteRef:
        key: "kv/{{ .Values.schema.env }}/gloo/licences"
        property: gloo-core-license-key
    - secretKey: gloo-gateway-license-key
      remoteRef:
        key: "kv/{{ .Values.schema.env }}/gloo/licences"
        property: gloo-gateway-license-key

    - secretKey: gloo-mesh-license-key
      remoteRef:
        key: "kv/{{ .Values.schema.env }}/gloo/licences"
        property: gloo-mesh-license-key
    - secretKey: gloo-network-license-key
      remoteRef:
        key: "kv/{{ .Values.schema.env }}/gloo/licences"
        property: gloo-network-license-key
    - secretKey: gloo-trial-license-key
      remoteRef:
        key: "kv/{{ .Values.schema.env }}/gloo/licences"
        property: gloo-trial-license-key
