apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: valkey-password
  namespace: {{ $.Release.Namespace }}
spec:
  refreshInterval: 4h
  secretStoreRef:
    name: external-vault-backend
    kind: ClusterSecretStore
  target:
    name: valkey-password
    creationPolicy: Owner
    deletionPolicy: "Retain"
  data:
    - secretKey: password
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: "kv/{{ .Values.schema.env }}/valkey/password"
        metadataPolicy: None
        property: password
