apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ .Values.cluster.name }}-cluster-ca
  namespace: {{ .Release.Namespace }}
spec:
  refreshInterval: "1h0m0s"
  secretStoreRef:
    name: external-vault-backend
    kind: ClusterSecretStore
  target:
    name: {{ .Values.cluster.name }}-cluster-ca
    creationPolicy: Owner
    template:
      metadata:
        annotations: {
          "strimzi.io/ca-cert-generation": "0",
          "strimzi.io/ca-key-generation": "0"
        }
        labels: {
          "strimzi.io/kind": "Kafka",
          "strimzi.io/cluster": "{{ .Values.cluster.name }}"
        }
  data:
    - secretKey: ca.key
      remoteRef:
        key: "kv/{{ .Values.schema.env }}/kafka/cluster-ca"
        property: ca.key
    - secretKey: ca.password
      remoteRef:
        key: "kv/{{ .Values.schema.env }}/kafka/cluster-ca"
        property: ca.password
