#apiVersion: external-secrets.io/v1
#kind: ExternalSecret
#metadata:
#  name: es-kestra-credentials
#  namespace: {{ $.Release.Namespace }}
#spec:
#  refreshInterval: 4h0m0s
#  secretStoreRef:
#    name: external-vault-backend
#    kind: ClusterSecretStore
#  target:
#    name: es-kestra-credentials
#    creationPolicy: Owner
#    deletionPolicy: "Retain"
#  data:
#    - secretKey: username
#      remoteRef:
#        conversionStrategy: Default
#        decodingStrategy: None
#        key: "kv/{{ .Values.schema.env }}/kestra/elastic"
#        metadataPolicy: None
#        property: username
#    - secretKey: password
#      remoteRef:
#        conversionStrategy: Default
#        decodingStrategy: None
#        key: "kv/{{ .Values.schema.env }}/kestra/elastic"
#        metadataPolicy: None
#        property: password
