apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: argocd-redis
  namespace: {{ $.Release.Namespace }}
spec:
  refreshInterval: 1h0m0s
  secretStoreRef:
    kind: ClusterSecretStore
    name: external-vault-backend
  target:
    name: argocd-redis
    creationPolicy: Owner
    deletionPolicy: Retain
  data:
    - secretKey: auth
      remoteRef:
        key: "kv/{{ .Values.schema.env }}/argocd/redis"
        property: auth
