apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: argocd-initial-admin-secret
  namespace: {{ $.Release.Namespace }}
spec:
  refreshInterval: 1h0m0s
  secretStoreRef:
    kind: ClusterSecretStore
    name: external-vault-backend
  target:
    name: argocd-initial-admin-secret
    creationPolicy: Owner
    deletionPolicy: Retain
  data:
    - secretKey: password
      remoteRef:
        key: "kv/{{ .Values.schema.env }}/argocd/admin-password"
        property: password
