#apiVersion: external-secrets.io/v1beta1
#kind: ExternalSecret
#metadata:
#  name: argocd-server-tls
#  namespace: {{ $.Release.Namespace }}
#spec:
#  refreshInterval: "30m0s"
#  secretStoreRef:
#    name: external-vault-backend
#    kind: ClusterSecretStore
#  target:
#    name: argocd-server-tls
#    creationPolicy: Owner
#    deletionPolicy: "Retain"
#  data:
#    - secretKey: tls.crt
#      remoteRef:
#        key: "kv/{{ .Values.schema.env }}/argocd/tls"
#        property: tls.crt
#    - secretKey: tls.key
#      remoteRef:
#        key: "kv/{{ .Values.schema.env }}/argocd/tls"
#        property: tls.key
