apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: offline-root-ca
  namespace: {{ $.Release.Namespace }}
spec:
  refreshInterval: "30m0s"
  secretStoreRef:
    name: k8s-vault-backend
    kind: ClusterSecretStore
  target:
    name: offline-root-ca
    creationPolicy: Owner
  data:
    - secretKey: rootCA.crt
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: "kv/infrastructure/offline-root-ca"
        property: rootCA.crt
        metadataPolicy: None
