{{- if not .Values.schema.bootstrap }}
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: grafana-authentik-client
  namespace: {{ .Values.schema.namespace }}
spec:
  refreshInterval: 4h0m0s
  secretStoreRef:
    name: external-vault-backend
    kind: ClusterSecretStore
  target:
    name: grafana-authentik-client
    creationPolicy: Owner
    deletionPolicy: "Retain"
  data:
    - secretKey: id
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: "kv/{{ .Values.schema.env }}/grafana/authentik-client"
        metadataPolicy: None
        property: id
    - secretKey: secret
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: "kv/{{ .Values.schema.env }}/grafana/authentik-client"
        metadataPolicy: None
        property: secret
{{- end }}
