{{- if not .Values.schema.bootstrap }}
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: grafana-admin-credentials
  namespace: {{ .Values.schema.namespace }}
spec:
  refreshInterval: 4h0m0s
  secretStoreRef:
    name: external-vault-backend
    kind: ClusterSecretStore
  target:
    name: grafana-admin-credentials
    creationPolicy: Owner
    deletionPolicy: "Retain"
  data:
    - secretKey: GF_SECURITY_ADMIN_USER
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: "kv/{{ .Values.schema.env }}/grafana/admin"
        metadataPolicy: None
        property: GF_SECURITY_ADMIN_USER
    - secretKey: GF_SECURITY_ADMIN_PASSWORD
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: "kv/{{ .Values.schema.env }}/grafana/admin"
        metadataPolicy: None
        property: GF_SECURITY_ADMIN_PASSWORD
{{- end }}
