{{- if not .Values.schema.bootstrap }}
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: prometheus-alerting-config
  namespace: {{ .Values.schema.namespace }}
spec:
  refreshInterval: 4h0m0s
  secretStoreRef:
    name: external-vault-backend
    kind: ClusterSecretStore
  target:
    name: prometheus-alerting-config
    creationPolicy: Owner
    deletionPolicy: "Retain"
  data:
    - secretKey: GF_SMTP_ENABLED
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: "kv/{{ .Values.schema.env }}/grafana/smtp"
        metadataPolicy: None
        property: GF_SMTP_ENABLED
    - secretKey: GF_SMTP_HOST
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: "kv/{{ .Values.schema.env }}/grafana/smtp"
        metadataPolicy: None
        property: GF_SMTP_HOST
    - secretKey: GF_SMTP_USER
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: "kv/{{ .Values.schema.env }}/grafana/smtp"
        metadataPolicy: None
        property: GF_SMTP_USER
    - secretKey: GF_SMTP_PASSWORD
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: "kv/{{ .Values.schema.env }}/grafana/smtp"
        metadataPolicy: None
        property: GF_SMTP_PASSWORD
    - secretKey: GF_SMTP_FROM_ADDRESS
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: "kv/{{ .Values.schema.env }}/grafana/smtp"
        metadataPolicy: None
        property: GF_SMTP_FROM_ADDRESS
    - secretKey: GF_SMTP_STARTTLS_POLICY
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: "kv/{{ .Values.schema.env }}/grafana/smtp"
        metadataPolicy: None
        property: GF_SMTP_STARTTLS_POLICY
    #- secretKey: GF_MS_TEAMS_URL
    #  remoteRef:
    #    conversionStrategy: Default
    #    decodingStrategy: None
    #    key: "kv/{{ .Values.schema.env }}/grafana/ms-teams-channel"
    #    metadataPolicy: None
    #    property: url
{{- end }}
