apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: kafka-ui-secrets
  namespace: {{ $.Release.Namespace }}
spec:
  refreshInterval: 4h0m0s
  secretStoreRef:
    name: external-vault-backend
    kind: ClusterSecretStore
  target:
    name: kafka-ui-secrets
    creationPolicy: Owner
    deletionPolicy: "Retain"
  data:
    - secretKey: KAFKA_CLUSTERS_0_PROPERTIES_SASL_JAAS_CONFIG
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: "kv/{{ .Values.schema.env }}/kafka-ui/kafka-user"
        metadataPolicy: None
        property: KAFKA_CLUSTERS_0_PROPERTIES_SASL_JAAS_CONFIG
    - secretKey: KAFKA_CLUSTERS_0_PROPERTIES_SSL_TRUSTSTORE_PASSWORD
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: "kv/{{ .Values.schema.env }}/kafka-ui/kafka-user"
        metadataPolicy: None
        property: KAFKA_CLUSTERS_0_PROPERTIES_SSL_TRUSTSTORE_PASSWORD
    - secretKey: KAFKA_CLUSTERS_0_PROPERTIES_SSL_KEYSTORE_PASSWORD
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: "kv/{{ .Values.schema.env }}/kafka-ui/kafka-user"
        metadataPolicy: None
        property: KAFKA_CLUSTERS_0_PROPERTIES_SSL_KEYSTORE_PASSWORD
    - secretKey: AUTH_OAUTH2_CLIENT_GOAUTHENTIC_CLIENTID
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: "kv/{{ .Values.schema.env }}/kafka-ui/kafka-user"
        metadataPolicy: None
        property: AUTH_OAUTH2_CLIENT_AUTHENTIK_CLIENTID
    - secretKey: AUTH_OAUTH2_CLIENT_GOAUTHENTIC_CLIENTSECRET
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: "kv/{{ .Values.schema.env }}/kafka-ui/kafka-user"
        metadataPolicy: None
        property: AUTH_OAUTH2_CLIENT_AUTHENTIK_CLIENTSECRET
