{{- if not .Values.schema.bootstrap }}
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: hvault-config
  namespace: {{ $.Release.Namespace }}
spec:
  refreshInterval: 4h0m0s
  secretStoreRef:
    name: external-vault-backend
    kind: ClusterSecretStore
  target:
    name: hvault-config
    creationPolicy: Owner
    deletionPolicy: "Retain"
  data:
    #- secretKey: tls.crt
    #  remoteRef:
    #    key: "kv/{{ .Values.schema.env }}/vault/tls"
    #    property: tls.crt
    #- secretKey: tls.key
    #  remoteRef:
    #    key: "kv/{{ .Values.schema.env }}/vault/tls"
    #    property: tls.key
    #- secretKey: ca.crt
    #  remoteRef:
    #    key: "kv/{{ .Values.schema.env }}/vault/tls"
    #    property: ca.crt
    - secretKey: AZURE_CLIENT_ID
      remoteRef:
        key: "kv/azure/akv-credentials"
        property: AZURE_CLIENT_ID
    - secretKey: AZURE_CLIENT_SECRET
      remoteRef:
        key: "kv/azure/akv-credentials"
        property: AZURE_CLIENT_SECRET
    - secretKey: AZURE_TENANT_ID
      remoteRef:
        key: "kv/azure/akv-credentials"
        property: AZURE_TENANT_ID
    - secretKey: SUBSCRIPTION_ID
      remoteRef:
        key: "kv/azure/akv-credentials"
        property: SUBSCRIPTION_ID
    - secretKey: VAULT_AZUREKEYVAULT_KEY_NAME
      remoteRef:
        key: "kv/{{ .Values.schema.env }}/vault/akv-unseal-key"
        property: VAULT_AZUREKEYVAULT_KEY_NAME
    - secretKey: VAULT_AZUREKEYVAULT_VAULT_NAME
      remoteRef:
        key: "kv/azure/akv-credentials"
        property: VAULT_AZUREKEYVAULT_VAULT_NAME
{{- end }}
