apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: etcd-secrets
  namespace: {{ $.Release.Namespace }}
spec:
  refreshInterval: 4h0m0s
  secretStoreRef:
    name: k8s-vault-backend
    kind: ClusterSecretStore
  target:
    name: etcd-secrets
    creationPolicy: Owner
    deletionPolicy: "Retain"
  data:
    - secretKey: etcd-root-password
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: "kv/infrastructure/etcd/secrets"
        metadataPolicy: None
        property: etcd-root-password
