apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: where-ever-ca
  namespace: {{ $.Release.Namespace }}
spec:
  refreshInterval: "30m0s"
  secretStoreRef:
    name: external-vault-backend
    kind: ClusterSecretStore
  target:
    name: where-ever-ca
    creationPolicy: Owner
  data:
    - secretKey: where-ever-ca
      remoteRef:
        key: "kv/{{ .Values.schema.env }}/vault/tls"
        property: ca.crt
