apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: access-secrets
  namespace: {{ $.Release.Namespace }}
spec:
  refreshInterval: 4h0m0s
  secretStoreRef:
    name: external-vault-backend
    kind: ClusterSecretStore
  target:
    name: access-secrets
    creationPolicy: Owner
    deletionPolicy: "Retain"
  data:
    - secretKey: mysql-root-password
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: "kv/{{ .Values.schema.env }}/fleetdm/secrets"
        metadataPolicy: None
        property: mysql-root-password
    - secretKey: mysql-password
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: "kv/{{ .Values.schema.env }}/fleetdm/secrets"
        metadataPolicy: None
        property: mysql-password
    - secretKey: redis-password
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: "kv/{{ .Values.schema.env }}/fleetdm/secrets"
        metadataPolicy: None
        property: redis-password
