apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: default-gha-runner-creds
  namespace: {{ $.Release.Namespace }}
spec:
  refreshInterval: 4h0m0s
  secretStoreRef:
    name: external-vault-backend
    kind: ClusterSecretStore
  target:
    name: default-gha-runner-creds
    creationPolicy: Owner
    deletionPolicy: "Retain"
  data:
    - secretKey: github_app_id
      remoteRef:
        key: "kv/{{ .Values.schema.env }}/github_app"
        property: github_app_id
    - secretKey: github_app_installation_id
      remoteRef:
        key: "kv/{{ .Values.schema.env }}/github_app"
        property: github_app_installation_id
    - secretKey: github_app_private_key
      remoteRef:
        key: "kv/{{ .Values.schema.env }}/github_app"
        property: github_app_private_key
