apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: authentik-redis
  namespace: {{ $.Release.Namespace }}
spec:
  refreshInterval: 4h0m0s
  secretStoreRef:
    name: external-vault-backend
    kind: ClusterSecretStore
  target:
    name: authentik-redis
    creationPolicy: Owner
    deletionPolicy: "Retain"
  data:
    - secretKey: redis-password
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: "kv/{{ .Values.schema.env }}/authentik/secrets"
        metadataPolicy: None
        property: AUTHENTIK_REDIS__PASSWORD
